:root {
  --verde_claro: #04c35c;
  --azul_fosforescente: #291cb4;
  --azul_oscuro: #110d3d;
  --blanco_opaco: #faf9f9;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body > #root {
  height: 100vh;
}
.align-box {
  display: flex;
  width: 100%;
  /* height: calc(100vh - 90px); */
  height: 90vh; // agregado por Joseph
  margin: 2rem 0; // agregado por Joseph
  justify-content: center;
  align-items: center;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 4px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--azul_fosforescente);
  border-radius: 6px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--azul_oscuro);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto"),
    url(../fonts/Roboto/Roboto-Regular.ttf) format("truetype");
}

// agregado port Joseph
@media only screen and (max-width: 500px) {
  .align-box {
    margin: 0;
  }
}
